<app-header>
  <img [src]="logoSrc" alt="" [style.width.px]="width">
  <h3 (click)="changeTitle($event)" [innerHTML]="title"></h3>
  <app-search
    (search)="onSearch($event)"
    [placeholder]="placeholder"></app-search>
</app-header>
<div *ngIf="users | async as userList; else loadGif ">
  <app-card *ngFor="let user of userList | usersFilter:searchTerm; index as i,odd as isOdd "
            [user]="user"
            [position]="i+1"
            [isOdd]="isOdd"
  ></app-card>
</div>
<ng-template #loadGif>
  ...loading
</ng-template>
